@page "/WaterRecordUpsert"
@page "/WaterRecordUpsert/{Id:int}"
@page "/WaterRecordUpsert/{Id:int}/{UserId:int}"
@inherits WaterRecordUpsertBase
<EditForm Model="@Record" OnValidSubmit="HandleSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-floating row">
        <div class="col-3 ">
            <label for="ConsumedWater" class=" col-form-label">Consumed Water</label>
        </div>

        <div class="col-9">
            <InputNumber id="ConsumedWater" class="form-control" 
                       @bind-Value="@Record.ConsumedWater" />
            <ValidationMessage For="@(() => Record.ConsumedWater)" />
        </div>
    </div>
    <div class="form-floating row">
        <div class="col-3 ">
            <label for="IntakeDate" class=" col-form-label">Last Name</label>
        </div>

        <div class="col-9">
            <InputDate id="IntakeDate" class="form-control"
                       @bind-Value="@Record.IntakeDate" />
            <ValidationMessage For="@(() => Record.IntakeDate)" />
        </div>
    </div>
    
    <button class="btn btn-primary" type="submit">Submit</button>

</EditForm>


